@* 
    DEPRECATED: This is the old V1 style of using Blazyload.
    In V2, use LoadOnNavigation in Program.cs and AssemblyLoader.OnNavigateAsync in App.razor instead.
*@
@inject IBlazyAssemblyLoader AssemblyLoader;

<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="@OnNavigateAsync" AdditionalAssemblies="@AssemblyLoader.AdditionalAssemblies">

    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

