@page "/AWSAuth"
@inherits AWSAuthComponent

<h1>AWS Auth</h1>

<p>This component demonstrates lazy-loading a component from AWS using credentials.</p>

<EditForm Model="@Model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="accessKey">Access Key:</label>
        <InputText id="bucketUrl" class="form-control" @bind-Value="@Model.BucketUrl" />
        <ValidationMessage For="@(() => Model.BucketUrl)" />
    </div>

    <div class="form-group">
        <label for="accessKey">Access Key:</label>
        <InputText id="accessKey" class="form-control" @bind-Value="@Model.AccessKey" />
        <ValidationMessage For="@(() => Model.AccessKey)" />
    </div>

    <div class="form-group">
        <label for="secretKey">Secret Key:</label>
        <InputText id="secretKey" class="form-control" @bind-Value="@Model.SecretKey" />
        <ValidationMessage For="@(() => Model.SecretKey)" />
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn @ButtonColor">Submit</button>
    </div>
</EditForm>

<EditForm Model="@Model" OnValidSubmit="HandleSubmitAndLoad">
    <div class="form-group mt-3">
        <button type="submit" class="btn @ButtonColor">Load Dll</button>
    </div>
</EditForm>